<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-3">
           <vc:category-list-box></vc:category-list-box>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

</body>
</html>
