@model PagedData<Product>
<h1>Welcome To Example Web Application!</h1>

@foreach (var item in Model.Data)
{
    <div>
        @Html.Partial("ProductSummary", item)
    </div>
}

<div paged-model="Model.PageInfo" page-action="index" page-class="btn" page-class-selected="btn btn-success"></div>
